**/.git
**/.svn
**/.hg
**/node_modules
**/.git
**/.svn
**/.hg

/.bundle/
/coverage/
/pkg/
/playground/
/vendor/

/.eslintcache
/.*ignore
/bin/port
/docs/logo.png
/*.lock
/LICENSE
/test.rb
/test.rbs
/test.haml

*.txt
*.gem

node_modules/
template-test/dummy/