.Input {
  width: 100%;
  padding: 7px 5px;
  border-radius: 5px;
  margin-top: 3px;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid grey;
  /* :focus {
        border: 1px solid #E07751;
      } */
}

.Button {
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 10px 0;
  border-radius: 5px;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #e07751;
  margin-top: 40px;
  width: 100%;
}

.Row {
  display: flex;
  box-sizing: border-box;

  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.Text {
  padding: 0;
  margin: 0;
}
