* {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.grid-container {
  display: grid;
  column-gap: 5%;
  grid-template-columns: 10% 80%;
  background-color: #18191b;
}

.LeftCol {
  height: 100vh;
  padding-top: 50px;
  text-align: center;
  background-color: #242527;
}
.LeftText {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.LeftColItem {
  padding: 15px 0;
  text-align: center;
  text-align: center;
  border-top: 1px ridge grey;
  border-bottom: 1px ridge grey;

  color: white;
  background-color: #242527;
}
.LeftColItem:hover {
  background-color: #e07751;
  cursor: pointer;
}
.BG {
}
.UpperTableArea {
  margin-top: 30px;

  background-color: white;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.LowerTableArea {
  margin-bottom: 30px;

  color: white;
  background-color: #e07751;

  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LowerTableText {
  color: white;
  font-size: 14px;
  margin-right: 20px;
  font-weight: 600;
}
.UpperTableButton {
  padding: 10px 15px;
  background-color: #e07751;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 16px;
  font-weight: 600;
}
.LowerTableButton {
  background-color: #e07751;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: underline;
}
.UpperTableInput {
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 3px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid grey;
  background-color: #f6f4f3;
  margin-right: 20px;
}
.UpperTableInput:focus {
  border: 1px solid #e07751;
}
table {
  height: fit-content;
  width: 100%;
}
.TableTitleText {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
  border-bottom: 3px solid white;
}
.TableArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
td,
th {
  border: 1px solid #ddd;
  padding: 15px;
  border: none;
}
tr:nth-child(odd) {
  background-color: lightgray;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e07751;

  color: white;
}
.GenericForm {
  position: fixed;
  top: 45%;
  z-index: 101;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -45%);
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: #fff;
  width: 600px;
  height: auto;
  text-align: left;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: arial, sans-serif;
  border-radius: 10px;

  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.Label {
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin-top: 15px;
}
.GenericFormTitle {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}
.GenericFormSubmit {
  padding: 10px 15px;
  background-color: #e07751;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 16px;
  font-weight: 600;
  width: 35%;
  margin: auto;
  margin-top: 30px;
}
.Active {
  background-color: #e07751;
}
.Disabled {
  cursor: no-drop;
  color: #aaaaaa;
}
